[Unit]
Description=Personal Site
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/ffactory/personal-site-hugo
ExecStart=/usr/bin/docker compose up --build --remove-orphans
ExecStop=/usr/bin/docker compose down
Restart=always

[Install]
WantedBy=multi-user.target
