<div class="container-vertical">
  <section class="container centered home">
    <div class="about">
      {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarURL }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
      {{ end }}
      {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
      {{ end }}
      <!-- <h1 class="display">{{ .Site.Params.author }}</h1> -->
      <img class="header-icon-name img-light" src="/images/header-icon-name/header-icon-light.svg" />
      <img class="header-icon-name img-dark" src="/images/header-icon-name/header-icon-dark.svg" />
      {{ if reflect.IsSlice .Site.Params.info }}
      <h2>{{ range .Site.Params.info }}{{.}}<br>{{ end}}</h2>
      {{ else }}
      <h2>{{ .Site.Params.info }}</h2>
      {{ end }}
      {{ with .Site.Params.subInfo }}
      <h3>{{ . }}</h3>
      {{ end }}
      {{ with .Site.Params.social }}
      <ul>
        {{ range sort . "weight" }}
        {{ if .icon }}
        <li>
          <a class="labeled-icon" href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}" {{
            end }} {{ if .target }}target="{{ .target }}" {{ end }} {{ if .type }}type="{{ .type }}" {{ end }}>
            <i class="{{ .icon }}" aria-hidden="true"></i>
            <span>{{ .name }}</span>
          </a>
        </li>
        {{ else }}
        <li>
          <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}" {{ end }} {{ if .target
            }}target="{{ .target }}" {{ end }}>{{ .name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>

      {{ end }}
    </div>

    <div class="about-background">
      <div id="left">
        <img class="img-light" src="/images/dot-matrix/dot-matrix-light.svg" height="250" width="250" />
        <img class="img-dark" src="/images/dot-matrix/dot-matrix-dark.svg" height="250" width="250" />
      </div>
      <div id="right">
        <img class="img-light" src="/images/dot-matrix/dot-matrix-light.svg" height="250" width="250" />
        <img class="img-dark" src="/images/dot-matrix/dot-matrix-dark.svg" height="250" width="250" />
      </div>
    </div>
  </section>

  {{ $featuredPage := .GetPage .Site.Params.featuredPage }}
  {{ with $featuredPage }}
  <!-- TODO actual check -->
  <section class="container page">
    {{ partial "table-of-contents.html" (dict "context" . "className" "floating") }}

    <article>
      <header class="with-subtitle">
        <h1 class="overlined">{{ .Title }}</h1>
        <subtitle>
          Featured &nbsp;·&nbsp;
          <span>
            {{- .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) -}}
          </span>
        </subtitle>
      </header>

      {{ partial "posts/article-body.html" $featuredPage }}
    </article>
  </section>
  {{ if hugo.IsServer }}
      {{ $script := resources.Get "js/toc.js" }}
      <script src="{{ $script.RelPermalink }}"></script>
    {{ else }}
      {{ $script := resources.Get "js/toc.js" | minify | fingerprint }}
      <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ end }}
  {{ end }}
</div>