<div>
  {{ $featuredImage := .Page.Resources.GetMatch .Params.featuredImage }}
  {{ if $featuredImage }}
    {{ with $featuredImage.Resize (printf "%dx%d webp" $featuredImage.Width $featuredImage.Height) }}
      <img src="{{ .RelPermalink }}" alt="Featured image" class="featured" width="{{ .Width }}" height="{{ .Height }}" />
    {{ end }}

    {{ if .Params.featuredImageSource }}
      <p class="image-source">
        {{ if eq (len .Params.featuredImageSource) 2 }}
        <a href="{{ index .Params.featuredImageSource 1 }}" target="_blank">{{ index .Params.featuredImageSource 0 }}</a>
        {{ else }}
        {{ index .Params.featuredImageSource 0 }}
        {{ end }}
      </p>
    {{ end }}
  {{ end }}
  {{ if and (gt .WordCount 400) (not .Params.toc) (gt (len (findRE "\n#+" .Page.RawContent)) 2) (not .Params.featured) }}
  <aside class="table-of-contents inline">
    {{ .TableOfContents }}
  </aside>
  {{ end }}
  {{ .Content }}
  
  {{ if (ne .Page.RelPermalink "/about-me/") }}
    <hr class="content-end"/>

    {{ partial "posts/header-message.html" . }}
  {{ end }}
</div>
