<div>
  {{ $featuredImage := .Page.Resources.GetMatch .Params.featuredImage }}
  {{ if $featuredImage }}
    {{ with $featuredImage.Resize (printf "%dx%d webp" $featuredImage.Width $featuredImage.Height) }}
      <img src="{{ .RelPermalink }}" alt="Featured image" class="featured" width="{{ .Width }}" height="{{ .Height }}" />
    {{ end }}

    {{ if .Params.featuredImageSource }}
      <p class="image-source">Photo by <a href="{{ index .Params.featuredImageSource 1 }}" target="_blank">{{ index .Params.featuredImageSource 0 }}</a></p>
    {{ end }}
  {{ end }}
  {{ .Content }}
  
  <hr class="content-end"/>

  {{ partial "posts/header-message.html" . }}
</div>
