*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $fg-color;
  background-color: $bg-color;
  font-family: $font-body;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.8em;

  @media only screen and (max-width: 768px) {
    font-size: 1.6em;
    line-height: 1.6em;
  }
}

a {
  font-weight: 500;
  color: $link-color;
  text-decoration: none;
  // transition: all 0.25s ease-in;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 2rem 0 2rem 0;
}

.navigation-title {
  height: 48px;
}

.header-icon-name.dark {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-titles;
  font-weight: 600;
  color: $alt-fg-color;
  margin: 4rem 0 2.5rem 0;

  &:hover .heading-link {
    opacity: 1;
  }

  .heading-link {
    color: $link-color;
    font-weight: inherit;
    text-decoration: none;
    font-size: 77%;
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.15s;

    :first-child {
      margin-right: 1rem;
    }
  }

  .title-link {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;

  &.display {
    font-family: $font-display;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }

  @media only screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 3.4rem;
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;

  @media only screen and (max-width: 768px) {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;

  @media only screen and (max-width: 768px) {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 2.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 2.4rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

b,
strong {
  font-weight: 700;
}

.highlight>div,
.highlight>pre {
  margin: 0 0 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

pre {
  display: block;
  font-family: $font-code;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  overflow-x: auto;
  margin: 0;

  code {
    display: inline-block;
    background-color: inherit;
    color: inherit;
  }
}

code {
  font-family: $font-code;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $alt-bg-color;
  color: $fg-color;
  border-radius: 0.6rem;
  padding: 0.3rem 0.6rem;
}

blockquote {
  border-left: 2px solid $alt-bg-color;
  padding-left: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: italic;
}

th,
td {
  padding: 1.6rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 2px solid $alt-fg-color;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

img {
  max-width: 100%;
}

figure {
  text-align: center;

  figcaption {
    font-style: italic;
    color: $fg-color-secondary;
  }
}

.preload-transitions * {
  $null-transition: none !important;

  -webkit-transition: $null-transition;
  -moz-transition: $null-transition;
  -ms-transition: $null-transition;
  -o-transition: $null-transition;
  transition: $null-transition;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
}

.container {
  margin: 1rem auto;
  max-width: 90rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fab {
  font-weight: 400;
}

.fas {
  font-weight: 700;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.fab {
  font-weight: 400;
}

.fas {
  font-weight: 900;
}

/* latin */
@font-face {
  font-family: 'MerriweatherRegular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Merriweather-Regular.ttf'),
    url('/fonts/Merriweather-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: BelyDisplay;
  src: url('/fonts/BelyDisplay-Regular.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/BelyDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/BelyDisplay-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/BelyDisplay-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/BelyDisplay-Regular.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-display: swap;
}