@mixin content_dark {
  .content {
    .back-link a {
      color: #adadad;
    }

    aside.table-of-contents {
      &::before {
        background-color: #ffffff1c;
      }

      nav {
        background: #ffffff0a;
      }

      a {
        color: #b6b6b6;
      }
    }

    article {
      p.image-source {
        color: $fg-color-secondary-dark;
      }

      header {
        .overlined::before {
          background-color: $fg-color-header-underline-dark;
        }

        h6 {
          color: #adadad;
        }
      }
    }

    .post {
      .tags {
        .tag {
          background-color: $alt-bg-color-dark;

          a {
            color: $fg-color-dark;
          }

          a:active {
            color: $fg-color-dark;
          }
        }
      }
    }

    table {
      border-color: #3f3f3f;
      box-shadow: 0 2px 14px rgba(255, 255, 255, 0.096);

      th {
        background-color: #373737;
      }
    }

    code.tooltip {
      &:hover {
        background-color: #535353;
      }
    }

    .list {
      ul.posts {
        li {
          a {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              .bg {
                background-color: #303030;
                border-color: #393939;
                color: $fg-color-dark;
              }
            }

            &.featured {
              .bg {
                background-color: #3a3a3a40;
                border-color: #ffff0030;
              }

              &:hover,
              &:focus {
                .bg {
                  background-color: #5a5344;
                }
              }
            }

            .date {
              color: #ffffff82;
            }

            .summary {
              color: #ffffff88;
            }
          }
        }
      }
    }

    .centered {
      .about {
        h3 {
          color: #969696;
        }

        ul {
          li {
            a {
              color: $fg-color-dark;

              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }

  img,
  video,
  embed {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  }


  .image-comparison-slider {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}