.footer {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1rem;

  a {
    color: $fg-color;
  }

  .footer-wave {
    padding-top: 126 / 1447 * 100%;
    background-image: url('/images/footer-wave/footer-wave-light.svg');
    width: 100%;
    height: 0;
  }
}