{{ $leftImagePath := .Get "left" }}
{{ $rightImagePath := .Get "right" }}

{{ $leftImage := .Page.Resources.GetMatch $leftImagePath }}
{{ $rightImage := .Page.Resources.GetMatch $rightImagePath }}

{{- $id := print "id-" (substr (md5 $leftImagePath) 0 16) -}}

<div id="{{ $id }}" class="image-comparison">
    <div class="image-comparison-slider">
        {{ with $leftImage.Resize (printf "%dx%d webp" $leftImage.Width $leftImage.Height) }}
        <img src="{{ .RelPermalink }}" alt="before">
        {{ end }}
        <div class="img-wrapper">
            {{ with $rightImage.Resize (printf "%dx%d webp" $rightImage.Width $rightImage.Height) }}
            <img src="{{ .RelPermalink }}" alt="after">
            {{ end }}
        </div>
        <span class="label label-before">Before</span>
        <span class="label label-after">After</span>
        <div class="handle">
            <div class="handle-line"></div>
            <div class="handle-circle">
                <!-- <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i> -->
                <!-- &lt; &gt;  -->
                <!-- ← → -->
                ◀ ▶
            </div>
            <div class="handle-line"></div>
        </div>
    </div>
</div>

<script>
    (function () {
        const root = document.querySelector("#{{ $id }}");
        const slider = root.querySelector(".image-comparison-slider");
        const sliderImgWrapper = root.querySelector(".image-comparison-slider .img-wrapper");
        const sliderHandle = root.querySelector(".image-comparison-slider .handle");

        let isSliderLocked = false;
        let hasDecidedToUse = false;
        let hasDecidedToScroll = false;

        slider.addEventListener("mousedown", sliderMouseDown);
        slider.addEventListener("touchstart", sliderMouseDown);

        slider.addEventListener("mousemove", sliderMouseMove);
        slider.addEventListener("touchmove", sliderMouseMove);

        slider.addEventListener("mouseup", sliderMouseUp);
        slider.addEventListener("mouseleave", sliderMouseLeave);
        slider.addEventListener("touchend", sliderMouseUp);

        let touchStartX = null;
        let touchStartY = null;

        function sliderMouseDown(event) {
            hasDecidedToScroll = false;
            hasDecidedToUse = false;

            touchStartX = event.screenX || event.touches[0].screenX;
            touchStartY = event.screenY || event.touches[0].screenY;

            if (isSliderLocked) isSliderLocked = false;
            sliderMouseMove(event);
        }

        function sliderMouseMove(event) {
            if (isSliderLocked) return;

            const sliderLeftX = slider.offsetLeft;
            const sliderWidth = slider.clientWidth;
            const sliderHandleWidth = sliderHandle.clientWidth;
            let mouseX = (event.clientX || event.touches[0].clientX) - sliderLeftX;
            if (mouseX < 0) mouseX = 0;
            else if (mouseX > sliderWidth) mouseX = sliderWidth;
            let mouseY = event.clientY || event.touches[0].clientY;

            if (hasDecidedToScroll) return;

            if (hasDecidedToUse) {
                event.preventDefault();
            } else {
                if (event.type === "touchmove") {
                    currentTouchX = event.screenX || event.touches[0].screenX;
                    currentTouchY = event.screenY || event.touches[0].screenY;

                    // Prevent using if user has started to scroll
                    let diffY = Math.abs(touchStartY - currentTouchY);
                    if (diffY > 10) {
                        hasDecidedToScroll = true;
                    }

                    // Prevent scrolling if user has started to use slider
                    let diffX = Math.abs(touchStartX - currentTouchX);
                    if (diffX > 10) {
                        hasDecidedToUse = true;
                        return
                    }
                }
            }

            let previousWidth = sliderImgWrapper.style.width;
            sliderImgWrapper.style.width = `${((1 - mouseX / sliderWidth) * 100).toFixed(4)}%`;
            sliderHandle.style.left = `calc(${((mouseX / sliderWidth) * 100).toFixed(4)}% - ${sliderHandleWidth / 2}px)`;
        }

        function sliderMouseUp(event) {
            if (!isSliderLocked) isSliderLocked = true;
            document.body.click();
        }

        function sliderMouseLeave() {
            if (isSliderLocked) isSliderLocked = false;
        }
    })();
</script>