<!-- Get src param from shortcode -->
{{ $src := $.Get "src"}}

<!-- Get alt param from shortcode -->
{{ $alt := $.Get "alt"}}

{{ $img := .Page.Resources.GetMatch $src | default (resources.GetMatch $src) }}

{{ $small := $.Get "small" }}

<!-- Get image -->
<figure>
    <picture>
        {{ with $img.Resize (printf "%dx%d webp" $img.Width $img.Height) }}
        <source media="(min-width:400px)" srcset="{{ .RelPermalink }}">
        {{ end }}
        {{ with $img.Resize "500x webp" }}
        <img src="{{ .RelPermalink }}" class="{{ if $small }}small{{ end }}" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}">
        {{ end }}
    </picture>
    {{ with .Inner }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>