<!-- Defaults -->
{{- $type := "" -}}
{{- $title := "" -}}
{{- $useMarkdownify := true -}}
{{- $centeredClassName := "" -}}
{{- $showIcon := true -}}

{{ if .IsNamedParams }}
  {{- $type = .Get "type" -}}
  {{- $title = .Get "title" | default "" -}}

  {{- if eq (.Get "raw") true -}}
  {{- $useMarkdownify = false -}}
  {{- end -}}

  {{- if eq (.Get "centered") true -}}
  {{- $centeredClassName = "centered" -}}
  {{- end -}}

  {{- if eq (.Get "showIcon") false -}}
  {{- $showIcon = false -}}
  {{- end -}}
{{- else -}}
  {{- $type = .Get 0 -}}
  {{- $title = .Get 1 | default "" -}}
{{- end -}}

{{- $icon := dict "note" "fa-sticky-note" "tip" "fa-lightbulb-o" "example" "fa-file-text" "question" "fa-question" "info" "fa-exclamation-circle" "warning" "fa-exclamation-triangle" "error" "fa-times-circle" -}}
<div class="notice {{ $type }} {{ $centeredClassName }}">
  {{- if ne $title "" -}}
  <div class="notice-title">
    {{- if ne $showIcon false -}}
    <i class="fa {{ index $icon $type }}" aria-hidden="true"></i>
    {{- end -}}
    {{ i18n $title | default $title }}
  </div>
  {{- end -}}
  <div class="notice-content">
    {{- if eq (.Get "raw") true -}}
    {{- .Inner -}}
    {{- else -}}
    {{ with .Inner }}
    {{ . | markdownify }}
    {{ end }}
    {{ end }}
  </div>
</div>
