{{- $type := .Get 0 -}}
{{- $centeredClassName := "" -}}
{{- $title := .Get 1 | default "" -}}

{{- if eq (.Get 1) "centered" -}}
{{- $centeredClassName = "centered" -}}
{{- $title = .Get 2 | default "" -}}
{{- end -}}

{{- $icon := dict "note" "fa-sticky-note" "tip" "fa-lightbulb-o" "example" "fa-file-text" "question" "fa-question" "info" "fa-exclamation-circle" "warning" "fa-exclamation-triangle" "error" "fa-times-circle" -}}
<div class="notice {{ $type }} {{ $centeredClassName }}">
  {{- if ne $title "" -}}
  <div class="notice-title">
    <i class="fa {{ index $icon $type }}" aria-hidden="true"></i>{{ i18n $title | default $title }}
  </div>
  {{- end -}}
  <div class="notice-content">
    {{ .Inner }}
  </div>
</div>
