<!-- Get src param from shortcode -->
{{ $src := $.Get "src"}}

<!-- Get alt param from shortcode -->
{{ $alt := $.Get "alt"}}

{{ $hidecontrols := eq ($.Get "hidecontrols") "true" }}

{{ $small := eq ($.Get "small") "true" }}

{{ $tall :=  eq  ($.Get "tall") "true" }}

<!-- Get image -->
<figure>
  <video aria-label="{{ $alt }}" 
  {{ if not $hidecontrols }} controls {{ else }} playsinline autoplay muted loop  {{ end }} 
    class="{{ if $small }}small{{ end }}{{ if $tall }}tall{{ end }}"
    src="{{ (.Page.Resources.GetMatch $src).RelPermalink }}"></video>
  {{ with .Inner }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>