{{ define "title" }}
{{ if .Params.siteTitleFirst }}
{{ .Site.Title }} · {{ .Title }}
{{ else }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ end }}
{{ define "content" }}
<section class="container list">
    <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
            {{- if eq .Kind "term" -}}
            {{- i18n .Data.Plural 1 | title -}}
            {{- print ": " -}}
            {{- end -}}
            {{- i18n (lower .Title) | default .Title | title -}}
        </a>
    </h1>
    {{ .Content }}
    <ul class="arts">
        {{ $list := (.Paginator.Pages) }}
        {{ $len := (len $list) }}
        {{ range $i, $element := $list }}
        <li>
            <a href="{{ .Params.externalLink | default .RelPermalink }}">
                {{ $image := (.Page.Resources.GetMatch .Params.featuredImage).Fill "600x600 webp Center" }}
                {{ $title := .Params.title }}
                {{ $date := .Date | time.Format "Jan 06" }}
                <img src="{{ $image.RelPermalink }}" alt="Artwork" height="480" width="480" />
                <div class="overlay">
                    <span>
                        {{ $title }} &nbsp;·&nbsp; {{ $date }}
                    </span>
                    
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
</section>
{{ end }}