<!-- Don't format this file, or the html whitespace gets broken-->
{{- $className := default "inline-time" (.Get "class") -}}
{{- $date := .Get "date" -}}
{{- $id := print "age-years" (substr (md5 (delimit .Params ",")) 0 16) -}}
{{- $withComma := .Get "withComma" -}}
<code id="{{ $id }}" class="tooltip {{ $className }}" data-before="JS disabled">?</code><script>
        /** Calculates age in years given a starting date. */
        function gregorianAge(startDate) {
                if (startDate == null) return null;
                now = new Date();

                var _m = now.getMonth() - startDate.getMonth();
                if ("{{ $withComma }}" == "true") {
                        // Return age as float with 1 decimal place
                        return ((now.getFullYear() - startDate.getFullYear()) + (_m / 12.0)).toFixed(1);
                } else {
                        // now.year minus startDate.year. minus 1 if month and day of now.year is before month and day of starDate.year
                        return (now.getFullYear()) - startDate.getFullYear()
                                - ((_m < 0 || (_m === 0 && now.getDate() < startDate.getDate())) ? 1 : 0);
                }
        }


        var date = new Date('{{ $date }}');
        var el = document.getElementById('{{ $id }}');

        var age = gregorianAge(date);
        el.innerText = age;
        el.setAttribute('data-before', "{{$date}}");
</script>