<!-- Don't format this file, or the html whitespace gets broken-->

{{- $id := print "age-hours-seconds" (substr (md5 .Inner) 0 16) -}}
<style>.inline-time {
    padding: 2px;
    border-radius: 4px;
    margin: 1px;
    background-color: #ffffff36;
}</style><span id="{{ $id }}" class="inline-age-display"><span class="inline-time days"></span> days and <span class="inline-time seconds"></span> seconds</span><script>
    function getAgeInYears(dateString) {
        var today = new Date();
        var ageInMilliseconds = today - new Date(dateString);
        var days = Math.floor(ageInMilliseconds / 1000 / 60 / 60 / 24);
        var secondsToday = today.getSeconds() + (60 * today.getMinutes()) + (60 * 60 * today.getHours());

        return { "days": days, "seconds": secondsToday };
    }

    var date = {{ .Get 0 }};
    var container = document.getElementById('{{ $id }}');
    var days = container.getElementsByClassName("days")[0];
    var seconds = container.getElementsByClassName("seconds")[0];

    function setText() {
        var age = getAgeInYears(date);
        seconds.animate([
            { "backgroundColor": "#ffffff36" },
            { "backgroundColor": "#ffffff61" },
            { "backgroundColor": "#ffffff36" },
        ], {
            duration: 150
        });
        days.innerText = age["days"];
        seconds.innerText = age["seconds"];
    }

    setText();
    window.setInterval(() => setText(), 1000);
</script>